.navigation {

  display: grid;
  padding-left: 10px;
  padding-right: 20px;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding-left: 0;
  }

  &_item {

    grid-template-columns: repeat(2, minmax(50px, min-content));
    display: grid;
    margin-top: 20px;
    margin-left: 50px;
    align-items: baseline;

    @media only screen and (max-width: $bp-largest) {
      font-size: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &-logo {
      margin: 1rem;
      font-size: 3rem;
      color: $color-primary;
      align-items: center;

      @media only screen and (max-width: $bp-largest) {
        font-size: 13px;
      }
    }

    &-categories {
      grid-template-rows: minmax(20px, min-content);
      justify-content: center;
      font-size: 15px;
    }
  }
}

.button {
  border: none;
  margin-top: 60px;
  margin-left: 30px;
  width: 80%;
  height: 7%;
  background-color: $color-primary;
  border-radius: 10rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
  align-content: center;
  justify-content: center;

  text-align: center;

  &-text {
    color: white;
    font-size: 1.7rem;
    font-weight: 500;

    &:hover {
      color: black;
    }
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 0;
  }
}

