.home {

  border-bottom: 1px solid $color-grey-medium;
  border-left: 1px solid $color-grey-medium;
  padding: 0;
  border-bottom: 1px solid $color-grey-medium;

  &_heading {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    grid-template-columns: 70% 30%;
    border-bottom: 1px solid $color-grey-medium;
    align-items: center;
    font-size: 3rem;


    &-icon {
      display: grid;
      width: 4rem;
      height: 4rem;
      justify-self: end;
      padding-right: 20px;
    }

  }

  &_cta {

    background-color: $color-white;
    display: grid;
    grid-template-rows: 80px 40px;
    border-bottom: 15px solid $color-grey-medium;
    padding-bottom: 10px;
    padding-left: 50px;

    &-question {
      color: $color-grey-dark;
      font-size: 1.8rem;
      border: none;

      &:active {
        color: $color-grey-dark;
      }
    }

    &-logos {
      display: grid;
      grid-template-columns: repeat(4, 2.5rem) 15rem repeat(2, 3rem) 7rem;
      grid-column-gap: 20px;
      padding-right: 200px;
      margin-bottom: 150px;
      position: relative;
      fill: $color-blue;
    }

    .button-small {
      border: none;
      padding: .9rem 1rem;
      background-color: $color-primary;
      border-radius: 10rem;
      box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
      width: 15rem;


      &:hover {
        background-color: $color-primary;
      }

      &:active {
      }

      &-text {
        color: $color-white;
        font-size: 1.7rem;

        &:hover {
          color: black;
        }
      }
    }

  }
}

.tweets {

  display: grid;

  &_tweet {
    display: grid;
    grid-template-rows: min-content max-content;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    cursor: pointer;
    border-bottom: 1px solid $color-grey-medium;


    &:hover {
      background-color: $color-grey-light;
    }

    &-profile {
      display: grid;
      grid-template-columns: 70px repeat(3, 1fr);

      &-picture {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        border: $color-grey-light;
        //display: block;

        display: grid;
        grid-column: 1 / 2;
        grid-area: 1 / span;
      }

      &-name {
        font-size: 1.7rem;
        display: grid;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      &-account {
        font-size: 1.5rem;
        color: $color-grey-dark;
        font-weight: 300;

        display: grid;
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }

      &-time {
        font-size: 1.5rem;
        color: $color-grey-dark;
        font-weight: 300;

        display: grid;
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }

      &-icon {
        display: grid;
        grid-column: 5/6;
        grid-row: 1/2;
      }

    }

    &-text {

      &::after,
      &::before {

      }

      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 2rem;
      padding-left: 10px;
      justify-self: start;

      display: grid;
      //grid-template-columns: 70px repeat(3, 1fr);
      grid-column: 2 / span;
      grid-row: 2 / 3;
    }
  }

  &_actions {

    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row: 3 / -1;

    &-logo {

      &-1 {
        display: grid;
        grid-column: 2 / 3;
        width: 20px;
        height: 20px;
      }

      &-2 {
        display: grid;
        grid-column: 3 / 4;
        width: 20px;
        height: 20px;
      }

      &-3 {
        display: grid;
        grid-column: 4 / 5;
        width: 20px;
        height: 20px;
      }

      &-4 {
        display: grid;
        grid-column: 5 / 6;
        width: 20px;
        height: 20px;
      }
    }
  }
}

