.home {

  border-bottom: 1px solid $color-grey-medium;
  border-left: 1px solid $color-grey-medium;
  padding: 0;
  background-color: #FFFFFF;

  &_heading {
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    grid-template-columns: 70% 30%;
    border-bottom: 1px solid $color-grey-medium;
    align-items: center;
    font-size: 3rem;


    &-icon {
      display: grid;
      width: 4rem;
      height: 4rem;
      justify-self: end;
      padding-right: 20px;
    }

  }

  &_cta {

    background-color: $color-white;
    display: grid;
    grid-template-rows: 80px 40px;
    border-bottom: 15px solid $color-grey-medium;
    padding-bottom: 10px;
    padding-left: 50px;

    &-question {
      color: $color-grey-dark;
      font-size: 1.8rem;
      border: none;

      &:active {
        color: $color-grey-dark;
      }
    }

    &-logos {
      display: grid;
      grid-template-columns: repeat(4, 2.5rem) 15rem repeat(2, 3rem) 7rem;
      grid-column-gap: 20px;
      padding-right: 200px;
      margin-bottom: 150px;
      position: relative;
      fill: $color-blue;
    }

    .button-small {
      border: none;
      padding: .9rem 1rem;
      background-color: $color-primary;
      border-radius: 10rem;
      box-shadow: 0 15px 30px rgba(0, 0, 0, .2);
      width: 15rem;


      &:hover {
        background-color: $color-primary;
      }

      &:active {
      }

      &-text {
        color: $color-white;
        font-size: 1.7rem;

        &:hover {
          color: black;
        }
      }
    }

  }
}

.tweets {

  display: grid;

  &_tweet {
    display: grid;
    grid-template-rows: min-content max-content;
    font-size: small;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid $color-grey-medium;


    &:hover {
      background-color: $color-grey-light;
    }


    &-text {

      &::after,
      &::before {

      }

      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 2rem;
      padding-left: 10px;
      justify-self: start;

      display: grid;
      grid-column: 2 / span;
      grid-row: 2 / 3;
    }
  }
}

